@import "sass/index.scss";

.login {
    background-color: $background-color;
    height: 92.8vh;
    padding-top: 20px;
    color: $white-color;

    &__main {
        display: flex;
        justify-content: center;
        gap: 50px;
        > * {
            @include container-style;
        }
        & .main__form {
            width: 45%;
            height: 90%;
        }
        & .main__info {
            width: 45%;
            height: 90%;
        }
    }
}
